.Antonio {
    color: white !important;
    border-radius: 10px;
    font-size: 1000%;
    border: 1px solid
}

.Antonio2 {
    color: white !important;
    font-size: 400%;
}

.Antonio3 {
    color: white !important;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    
}